<p>Choose which subject you'd like to study today:</p>

<form>
  <input type="radio" id="english" name="pref_subject" value="English">
  <label for="English">English</label><br>
  <input type="radio" id="math" name="pref_subject" value="Math">
  <label for="Math">Math</label><br>
  <input type="radio" id="science" name="pref_subject" value="Science">
  <label for="Science">Science</label>
  <input type="radio" id="history" name="pref_subject" value="History">
  <label for="History">Historye</label>
</form>